use flake

export CHANTICO_POSTGRES_SERVICE_HOST="localhost"
export CHANTICO_POSTGRES_SERVICE_PORT="15432"
export CHANTICO_POSTGRES_DBSTRING="postgresql://chanticoUser:toulouse@localhost:15432/chantico"
export CHANTICOVOLUMELOCATIONENV="$(kubectl get pv -o jsonpath='{range .items[?(@.spec.claimRef.name=="chantico-snmp-prometheus-volume-claim")]}{.spec.hostPath.path}{"\n"}{end}' | sed 's|/opt/local-path-provisioner|/tmp/chantico-local-path-data|')"
export CHANTICOVOLUMECLAIMENV="chantico-snmp-prometheus-volume-claim"